<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/signup" method="post">
    <div class="form_group">
        <h3 class="sign_title">아이디</h3>
        <input type="text" id="userid" name="userid" placeholder="이름을 입력하세요">
        <h3 class="sign_title">비밀번호</h3>
        <input type="text" id="userpw" name="userpw" placeholder="이름을 입력하세요">
        <h3 class="sign_title">비밀번호 재확인</h3>
        <input type="text" id="re" name="re" placeholder="이름을 입력하세요">
        <h3 class="sign_title">이름</h3>
        <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        <h3 class="sign_title">생년월일</h3>
        <input type="text" id="year" name="year" placeholder="이름을 입력하세요">
        <select id="month" name="month">
            <option value="">월</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <input type="text" id="day" name="day" placeholder="이름을 입력하세요">
        <h3 class="sign_title">성별</h3>
        <select id="gender" name="gender">
            <option value="">성별</option>
            <option value="M">남자</option>
            <option value="F">여자</option>
            <option value="U">선택 안함</option>
        </select>
        <h3 class="sign_title">본인 확인 이메일</h3>
        <input type="text" id="email" name="email" placeholder="이름을 입력하세요">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>